li{
    color: red;
    background: royalblue;
        }
        .box{
            color: hotpink;
            background: khaki;
        }
        body{
            background: gray;
        
        }
        a{
            padding: 10px 20px;
            background: green;
            color: white;
            text-decoration: name;
            text-transform: uppercase;
    
        }